<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lionsmatchgame.sport">

    <uses-permission android:name="android.permisssion.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.internet" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_icons"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_icons_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LionsMatchGame"
        tools:targetApi="31">
        <activity
            android:name=".DefficultyActivity"
            android:exported="false" />
        <activity
            android:name=".GamesActivity"
            android:exported="false" />
        <activity
            android:name=".GamesActivity2"
            android:exported="false" />
        <activity
            android:name=".GamesActivity3"
            android:exported="false" />
        <activity
            android:name=".GamesActivity4"
            android:exported="false" />
        <activity
            android:name=".GamesActivity5"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="open.special.app" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.onesignal.BootUpReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity android:name="com.onesignal.NotificationOpenedActivityHMS"
            android:exported="true"/>

        <receiver android:name="com.onesignal.FCMBroadcastReceiver"
            android:exported="true"/>

        <receiver android:name="com.onesignal.UpgradeReceiver" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.onesignal.UpgradeReceiver" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>